---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import AnimatedLink from "@/components/AnimatedLink.astro";
import hero from "@/assets/hero.jpg";
import logo from "@/assets/white_logo.png";
import { Card } from "@/components/ui/card";
import { Separator } from "@/components/ui/separator";
import Footer from "@/components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style></head
  >
  <body>
    <div
      class={`relative flex flex-col items-center justify-start min-h-[75px] w-full text-white gap-12`}
    >
      <div
        class="w-full max-w-screen-xl flex items-center justify-between gap-2 my-12 mb-12 px-6"
      >
        <a href="/">
          <img class="h-12" src={logo.src} alt="" />
        </a>
        <div class="flex items-center gap-12">
          <AnimatedLink className="text-xl" href="/blog">Blog</AnimatedLink>
          <AnimatedLink className="text-xl" href="/">Home</AnimatedLink>
        </div>
      </div>

      <img
        src={hero.src}
        alt="Hero background"
        class="absolute inset-0 w-full h-full object-cover -z-10"
      />
    </div>

    <article class="max-w-2xl flex flex-col mx-auto my-12 px-4">
      <AnimatedLink
        href="/blog"
        className="!text-black mb-2 inline-block w-[120px]"
        bgClass="!bg-black">← Back to Posts</AnimatedLink
      >
      <Card className="mt-0 w-full mx-auto overflow-hidden">
        {
          heroImage && (
            <div class="aspect-video">
              <img class="w-full h-full object-cover" src={heroImage} alt="" />
            </div>
          )
        }
      </Card>
      <h1 class="text-3xl font-bold mt-6">{title}</h1>
      <FormattedDate date={pubDate} />
      <Separator />
      <div class="mt-6 prose lg:prose-xl">
        <slot />
      </div>
    </article>
  </body><Footer />
</html>
